Repository ninib21/shopsavr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopsavr-team/core-maintainers, @shopsavr-team/backend-team, @shopsavr-team/api-team, @shopsavr-team/database-team, @shopsavr-team/security-team, @shopsavr-team/frontend-team, @shopsavr-team/ui-team, @shopsavr-team/state-team, @shopsavr-team/extension-team, @shopsavr-team/mobile-team, @shopsavr-team/ios-team, @shopsavr-team/android-team, @shopsavr-team/qa-team, @shopsavr-team/devops-team, @shopsavr-team/docs-team

feat: initial project setup with complete GitHub repository structure
  .cursor/rules/design.mdc
  .superdesign/design_iterations/default_ui_darkmode.css
  .superdesign/moodboard/1753645559606_ChatGPT_Image_Jul_27__2025__12_45_33_PM.png
  .superdesign/moodboard/1753646405987_ChatGPT_Image_Jul_27__2025__12_45_33_PM.png
  .windsurfrules
  CLAUDE.md
  ChatGPT Image Jul 27, 2025, 12_45_33 PM.png
  PRODUCTION_READINESS_ANALYSIS.md
  ShopSavr_User_Journey.md
  admin/dashboard/index.html
  docs/CONTEXT.md
  docs/PRD.md
  web/upgrade/stripe.js
  web/upgrade/upgrade.html
Owners: @shopsavr-team/core-maintainers, @shopsavr-team/docs-team

refactor: clean up repository by removing unnecessary files
  .gitignore
  .kiro/specs/github-automation/requirements.md
  .kiro/specs/shopsavr-core-platform/design.md
  .kiro/specs/shopsavr-core-platform/requirements.md
  .kiro/specs/shopsavr-core-platform/tasks.md
  backend/api/getCoupons.js
  docs/LEGAL/cookie-consent.md
  docs/LEGAL/privacy-policy.md
  docs/LEGAL/terms-of-service.md
  frontend/extension/content-enhanced.js
  frontend/extension/coupon-automation.js
  frontend/extension/error-reporting.js
  frontend/extension/extension-sync.js
  frontend/extension/popup.css
  frontend/extension/settings-manager.js
  frontend/extension/site-detectors.js
Owners: @shopsavr-team/core-maintainers, @shopsavr-team/backend-team, @shopsavr-team/docs-team, @shopsavr-team/extension-team

UI design
  frontend/web/src/pages/Home/HomePage.css
Owners: @shopsavr-team/frontend-team, @shopsavr-team/ui-team

ui design
  frontend/web/src/components/Layout/Layout.js
  frontend/web/src/components/UI/Button.css
  frontend/web/src/components/UI/Button.js
  frontend/web/src/components/UI/Card.css
  frontend/web/src/components/UI/Card.js
  frontend/web/src/index.css
  frontend/web/src/pages/Auth/LoginPage.js
  frontend/web/src/pages/Auth/RegisterPage.js
  frontend/web/src/pages/Dashboard/DashboardPage.js
  frontend/web/src/pages/Home/HomePage.css
  frontend/web/src/pages/Home/HomePage.js
  frontend/web/src/pages/Profile/ProfilePage.js
  frontend/web/src/pages/Settings/SettingsPage.js
  frontend/web/src/pages/Upgrade/UpgradePage.js
  frontend/web/src/pages/Wishlist/WishlistPage.js
Owners: @shopsavr-team/frontend-team, @shopsavr-team/ui-team

fixing ui home page
  frontend/web/src/pages/Home/HomePage.css
  frontend/web/src/pages/Home/HomePage.js
Owners: @shopsavr-team/frontend-team, @shopsavr-team/ui-team

docs: add phased development plan
  docs/DEVELOPMENT-PHASES.md
Owners: @shopsavr-team/docs-team

docs: add current phase quick start guide
  docs/PHASE-CURRENT.md
Owners: @shopsavr-team/docs-team

docs: add git workflow guide
  docs/GIT-WORKFLOW.md
Owners: @shopsavr-team/docs-team

feat: add remote repository setup script and guide
  docs/SETUP-REMOTE-REPO.md
  scripts/setup-remote-repo.ps1
Owners: @shopsavr-team/docs-team, @shopsavr-team/devops-team

.github/CODEOWNERS:

# Global owners - these users will be requested for review on all PRs
* @shopsavr-team/core-maintainers

# Backend code
/backend/ @shopsavr-team/backend-team
/backend/controllers/ @shopsavr-team/backend-team @shopsavr-team/api-team
/backend/models/ @shopsavr-team/backend-team @shopsavr-team/database-team
/backend/middleware/ @shopsavr-team/backend-team @shopsavr-team/security-team
/backend/routes/ @shopsavr-team/backend-team @shopsavr-team/api-team
/backend/services/ @shopsavr-team/backend-team
/backend/utils/ @shopsavr-team/backend-team

# Frontend code
/frontend/web/ @shopsavr-team/frontend-team
/frontend/web/src/components/ @shopsavr-team/frontend-team @shopsavr-team/ui-team
/frontend/web/src/pages/ @shopsavr-team/frontend-team @shopsavr-team/ui-team
/frontend/web/src/store/ @shopsavr-team/frontend-team @shopsavr-team/state-team
/frontend/web/src/services/ @shopsavr-team/frontend-team @shopsavr-team/api-team

# Browser extension
/frontend/extension/ @shopsavr-team/extension-team
/frontend/extension/background.js @shopsavr-team/extension-team @shopsavr-team/security-team
/frontend/extension/content.js @shopsavr-team/extension-team
/frontend/extension/manifest.json @shopsavr-team/extension-team @shopsavr-team/security-team

# Mobile apps
/mobile/ @shopsavr-team/mobile-team
/mobile/ios/ @shopsavr-team/mobile-team @shopsavr-team/ios-team
/mobile/android/ @shopsavr-team/mobile-team @shopsavr-team/android-team

# Tests
/tests/ @shopsavr-team/qa-team
/backend/tests/ @shopsavr-team/backend-team @shopsavr-team/qa-team
/frontend/web/src/__tests__/ @shopsavr-team/frontend-team @shopsavr-team/qa-team
/frontend/extension/tests/ @shopsavr-team/extension-team @shopsavr-team/qa-team

# Configuration files
/.github/ @shopsavr-team/devops-team @shopsavr-team/core-maintainers
/docker/ @shopsavr-team/devops-team
/scripts/ @shopsavr-team/devops-team
/.env.example @shopsavr-team/devops-team @shopsavr-team/security-team
/docker-compose.yml @shopsavr-team/devops-team
/Dockerfile @shopsavr-team/devops-team

# Package files
package.json @shopsavr-team/core-maintainers
package-lock.json @shopsavr-team/core-maintainers
/backend/package.json @shopsavr-team/backend-team @shopsavr-team/core-maintainers
/frontend/web/package.json @shopsavr-team/frontend-team @shopsavr-team/core-maintainers
/frontend/extension/package.json @shopsavr-team/extension-team @shopsavr-team/core-maintainers

# Documentation
/docs/ @shopsavr-team/docs-team
README.md @shopsavr-team/docs-team @shopsavr-team/core-maintainers
CONTRIBUTING.md @shopsavr-team/docs-team @shopsavr-team/core-maintainers
SECURITY.md @shopsavr-team/security-team @shopsavr-team/core-maintainers
CODE_OF_CONDUCT.md @shopsavr-team/core-maintainers

# Security-sensitive files
/backend/middleware/auth.js @shopsavr-team/security-team @shopsavr-team/core-maintainers
/backend/utils/auth.js @shopsavr-team/security-team @shopsavr-team/core-maintainers
/backend/controllers/authController.js @shopsavr-team/security-team @shopsavr-team/backend-team
/backend/middleware/subscription.js @shopsavr-team/security-team @shopsavr-team/backend-team

# Database migrations and schemas
/backend/migrations/ @shopsavr-team/database-team @shopsavr-team/backend-team
/backend/models/ @shopsavr-team/database-team @shopsavr-team/backend-team

# API documentation
/docs/api/ @shopsavr-team/api-team @shopsavr-team/docs-team
/backend/routes/ @shopsavr-team/api-team @shopsavr-team/backend-team

# Build and deployment
/.github/workflows/ @shopsavr-team/devops-team @shopsavr-team/core-maintainers
/scripts/deploy/ @shopsavr-team/devops-team @shopsavr-team/core-maintainers
/scripts/build/ @shopsavr-team/devops-team

# Monitoring and logging
/backend/utils/logger.js @shopsavr-team/devops-team @shopsavr-team/backend-team
/backend/middleware/rateLimiting.js @shopsavr-team/security-team @shopsavr-team/backend-team
